Repository RITlug/teleirc, pull requests merged in 2019-04, with the labels that each got.

#134 Bold usernames in message prefixes
  lib/IrcHandlers/IrcMessageHandler.js
  lib/TeleIrc.js
  lib/TelegramHandlers/TgDocumentHandler.js
  lib/TelegramHandlers/TgMessageHandler.js
  lib/TelegramHandlers/TgPhotoHandler.js
  lib/TelegramHandlers/TgStickerHandler.js
  tests/IrcConnectionTests.js
  tests/IrcMessageHandlerTests.js
  tests/TelegramToIrcTests.js
  tests/TgDocumentHandlerTests.js
  tests/TgMessageHandlerTests.js
  tests/TgPhotoHandlerTests.js
  tests/TgStickerHandlerTests.js
Labels: new change, priority:high

#135 docs: Resolve CVE-2019-10906 by updating Jinja2 to 2.10.1
  docs/Pipfile.lock
Labels: bug, docs, priority:high

#139 Complete QoL Improvements
  lib/TelegramHandlers/TgDocumentHandler.js
  lib/TelegramHandlers/TgHelpers.js
  package.json
  tests/TgDocumentHandlerTests.js
  tests/TgJoinHandlerTests.js
  tests/TgPartHandlerTests.js
  yarn.lock
Labels: improvement

#141 Always write project name as TeleIRC (for branding)
  .github/CONTRIBUTING.md
  README.md
  docs/conf.py
  docs/config-file-glossary.rst
  docs/deploy-teleirc.rst
  docs/faq.rst
  docs/index.rst
  docs/quick-install.rst
  docs/who-uses-teleirc.rst
  images/README.md
  misc/teleirc.service
  package.json
  teleirc.js
Labels: community, docs, improvement
