Repository RITlug/teleirc, pull requests merged in 2019-02, with the labels that each got.

#102 Splitting of messages sent to IRC, prepending TG username to each one.
  config.js
  docs/installation.rst
  env.example
  lib/TeleIrc.js
  lib/TelegramHandlers/TgMessageHandler.js
  package.json
  tests/IrcConfigValidationTests.js
  tests/IrcMessageHandlerTests.js
  tests/TelegramToIrcTests.js
  tests/TgMessageHandlerTests.js
Labels: improvement, needs changes

#120 Misc. documentation cruft clean-up
  docs/Pipfile
  docs/Pipfile.lock
  docs/conf.py
  docs/index.rst
  docs/who-uses-teleirc.rst
Labels: docs, improvement

#121 docs: Add config file glossary
  docs/config-file-glossary.rst
  docs/index.rst
Labels: docs, new change

#125 docs: Fix all Sphinx warnings by changing hyperlink targets
  docs/who-uses-teleirc.rst
Labels: docs, improvement

#126 docs: Add new FAQ section with common troubleshooting steps (closes #85, closes #119)
  docs/faq.rst
  docs/index.rst
Labels: docs, new change
