Repository RITlug/teleirc, pull requests merged in 2020-04, with the labels that each got.

#293 Add header comment to exported functions
  internal/debug.go
Labels: quality assurance

#294 Telegram settings checks in IRC client
  cmd/teleirc.go
  internal/handlers/irc/handlers.go
  internal/handlers/irc/irc.go
  internal/handlers/irc/irc_test.go
Labels: IRC, improvement

#296 gitignore: Cover more tools and editors
  .gitignore
Labels: contributor experience, improvement

#295 ci: Run go test, upload results to CodeClimate
  .travis.yml
  README.md
Labels: improvement, quality assurance

#300 Write unit tests for join/part/quit handlers
  go.mod
  go.sum
  internal/handlers/irc/handlers.go
  internal/handlers/irc/handlers_test.go
  internal/handlers/irc/interfaces.go
  internal/handlers/irc/irc.go
  internal/handlers/irc/mock_client.go
  internal/mock_debug.go
Labels: IRC, new change, quality assurance

#301 ci: Use exclude_patterns to avoid bad test data
  .codeclimate.yml
Labels: bug, quality assurance

#299 IRC kick handler
  internal/handlers/irc/handlers.go
Labels: IRC, needs review, new change

#302 Add support for Telegram join/part
  cmd/teleirc.go
  internal/handlers/telegram/handler.go
  internal/handlers/telegram/handler_test.go
  internal/handlers/telegram/helpers.go
  internal/handlers/telegram/helpers_test.go
  internal/handlers/telegram/telegram.go
  internal/handlers/telegram/telegram_test.go
Labels: Telegram, new change, quality assurance

#298 Testing for the document handler
  internal/handlers/telegram/handler.go
  internal/handlers/telegram/handler_test.go
Labels: Telegram, new change, quality assurance

#303 Add Photo handler and unit tests
  internal/handlers/telegram/handler.go
  internal/handlers/telegram/handler_test.go
Labels: Telegram, new change, quality assurance

#304 docs: Officially license content CC BY-SA 4.0
  docs/LICENSE.txt
  docs/conf.py
  docs/index.rst
Labels: contributor experience, documentation, new change

#289 Testing telegram message and sticker handlers
  go.mod
  go.sum
  internal/handlers/telegram/handler.go
  internal/handlers/telegram/handler_test.go
Labels: Telegram, new change, quality assurance

#309 Testing for the kick handler
  internal/handlers/irc/handlers.go
  internal/handlers/irc/handlers_test.go
Labels: IRC, new change

#311 codeclimate: Add exclusion patterns for more files
  .codeclimate.yml
Labels: improvement, quality assurance

#313 Write unit tests for the connect handler
  internal/handlers/irc/handlers_test.go
Labels: IRC, new change, quality assurance

#312 Write unit tests for message handler
  internal/handlers/irc/handlers.go
  internal/handlers/irc/handlers_test.go
Labels: IRC, new change, quality assurance

#305 legal: Switch TeleIRC v2.0.0 license to GPL-3.0
  LICENSE
  LICENSE.txt
  README.md
Labels: contributor experience, needs review, new change

#317 systemd: Update service file for Go best practices
  misc/Dockerfile.alpine
  misc/Dockerfile.fedora
  misc/README.md
  misc/docker-compose.yml
  misc/systemd/teleirc.service
Labels: improvement
