Repository RITlug/teleirc, pull requests merged in 2020-10, with the labels that each got.

#334 Fix Telegram zero-width space
  docs/user/config-file-glossary.rst
  env.example
  internal/handlers/telegram/handler.go
  internal/handlers/telegram/handler_test.go
  internal/handlers/telegram/helpers.go
  internal/handlers/telegram/helpers_test.go
Labels: Telegram, bug

#338 Improvement: Separate repeating code blocks into their own function
  internal/handlers/telegram/handler.go
  internal/handlers/telegram/helpers.go
  internal/handlers/telegram/helpers_test.go
Labels: T: quality assurance, Telegram, improvement

#339 No need for space in defaults, already in handler
  internal/config.go
Labels: Telegram, bug

#341 SSL flag
  docs/user/config-file-glossary.rst
  env.example
  internal/config.go
  internal/handlers/irc/irc.go
Labels: IRC, bug

#340 Don't forward messages with a configurable prefix
  docs/user/config-file-glossary.rst
  env.example
  internal/config.go
  internal/handlers/irc/handlers.go
  internal/handlers/irc/handlers_test.go
  internal/handlers/telegram/handler.go
  internal/handlers/telegram/handler_test.go
Labels: IRC, Telegram, needs testing, new change

#342 assets: Add committer logo and YouTube thumbnail
  assets/png/youtube-thumbnail.png
  assets/svg/horizontal_color_committer_variant.svg
  assets/svg/youtube-thumbnail.svg
Labels: documentation, new change

#344 Added a DisconnectHandler that sends a message to Telegram if IRC Dies
  env.example
  internal/config.go
  internal/handlers/irc/handlers.go
  internal/handlers/irc/handlers_test.go
Labels: IRC, improvement, logging

#345 Update version field
  cmd/teleirc.go
Labels: bug

#347 When CTRL+C (SIGTERM) is specified, TeleIRC now exits gracefully
  cmd/teleirc.go
  docs/user/config-file-glossary.rst
  env.example
  internal/config.go
  internal/handlers/irc/irc.go
Labels: improvement

#355 irc: Clean up config options (fixes #113)
  docs/user/config-file-glossary.rst
  env.example
  internal/config.go
  internal/handlers/irc/irc.go
  internal/handlers/irc/irc_test.go
Labels: IRC, improvement

#356 irc: Add support for multiple IP addresses (closes #324)
  docs/user/config-file-glossary.rst
  env.example
  internal/config.go
  internal/handlers/irc/irc.go
  internal/handlers/irc/irc_test.go
Labels: needs testing, new change
